.App {
  text-align: center;
}
* {
  border: none;
  outline: none;
  font-family: sans-serif;
}
header {
  font-size: xx-large;
  margin: 25px 0px;
}

form {
  color: rgb(255, 255, 255);
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 1rem;
  background-color: rgb(32, 32, 32);
  font-size: 2rem;
}
label {
  margin: 0.5rem;
}
.form-fields > input {
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.submit-input,
button {
  padding: 0.5rem 3rem;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}

.oneProduct-component {
  margin: 27vh auto;
}

a {
  text-decoration: none;
  color: rgb(136, 135, 135);
}

.submit-input:hover {
  background-color: rgb(83, 83, 83);
  color: white;
}
button:hover {
  background-color: rgb(83, 83, 83);
  color: white;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
  }
}
